{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">

    <h4 id="tutorial">Tutorial</h4>
Details forthcoming...

    <h4 id="topics">Highlighted Conference Topics</h4>

    <ul>
<li>Asynchronous iterative solvers</li>
<li>Eigenvalue and singular value methods and applications</li>
<li>Inverse problems, regularization</li>
<li>Iterative Applications: earth systems</li>
<li>Iterative Applications: energy</li>
<li>Iterative Applications: fluids</li>
<li>Iterative Applications: electromagnetics</li>
<li>Iterative Applications: imaging</li>
<li>Solvers at extreme scale & on high concurrency node architectures</li>
<li>Iterative solvers and machine learning </li>
<li>Iterative solvers in data science and engineering</li>
<li>Optimization of complex problems & Systems</li>
<li>Multilevel solvers</li>
<li>Multigrid methods for partially structured grids</li>
<li>Nonlinear solvers</li>
<li>Randomized iterative solvers and preconditioners</li>
<li>Rank-structured solvers and preconditioners</li>
<li>Robust & scalable iterative solution of coupled multi-physics problems</li>
<li>Solvers for indefinite systems</li>
<li>Surrogate modeling & model reduction</li>
<li>Uncertainty quantification, PDEs with random data</li>

    </ul>

    <h4>Conference Format</h4>

    <p>
    The conference typically features morning and afternoon sessions consisting
    of individual talks of approximately 25 minutes each, including time for
    questions.  In addition, special topics workshops and tutorials are often
    held during afternoon mid-day breaks.  More details can be found below and on
    the <a href="{{info.programlink}}">program</a> page.
    </p>

    <p>
    A <a href="student.html#details">student paper competition</a> is open to
    current and recent students attending the conference.  In addition, a
    <a href="about.html#specialissue">special section</a> devoted to the themes of
    the conference is open to all.
    </p>

    <p>
    There will also be a reception on Sunday evening and a banquet on Wednesday evening.
    </p>

    <h4 id="specialissue">Special section devoted to iterative methods</h4>
    <p>
    As in previous even-numbered years, a special section in a leading journal is
    planned.  This single section will be dedicated to recent progress in iterative
    methods.  Submissions are encouraged in all aspects of iterative methods,
    including this year's <a href="about.html#topics">highlighted topics</a>.
    Attendees and participants of the conference as well as the general community
    are invited to submit papers.  The papers should meet the formatting and
    editorial requirements of SIAM Journal on Scientific Computing.
    </p>

    <p>
    Submissions for the special issue will be accepted from
    {{deadlines.specialissueopen.date }} until
    <b>{{deadlines.specialissue.date}}</b>.  Papers will be subject to review
    by a guest Editorial Board.  Submissions should be made using the ordinary
    submission process at <a href="http://sisc.siam.org">
    http://sisc.siam.org</a>.  with a statement in the cover letter requesting
    that the paper be considered for the special issue.  In addition, the "Copper
    Mountain Special Section 2021" should be selected in the Special Section
    dropdown.  <center><a href="http://sisc.siam.org"> <img style="border:2px"
    alt="SIAM logo" src="images/SISC.jpg" height=230></a></center>
    </p>

    <h4 id="location">Getting Here</h4>

    <p>
     The conference is held at <a href="http://www.coppercolorado.com">Copper Mountain</a>,
     Colorado, located 75 miles west of Denver just off
     interstate I-70 at exit 195.  Denver International Airport (DIA) is the
     closest major airport.  From there, most attendees either arrive by
     shuttle or by car rental.
    </p>

    <!--
    <p>
    Summit Express provides shuttle service from DIA to Copper Mountain.
    The conference group code is Iterative(<a
    href="https://www.summitexpress.com/iterative">direct
    link</a>). The code provides 10% off the shared shuttle service.
    The full rates are given on the
      <a href="http://www.summitexpress.com/denver-airport-ski-shuttle-rates/winter-denver-airport-shuttle-rates/">Summit Express</a>
    website.  </p>
    Colorado Mt. Express (CME) also provides shuttle service between DIA and Copper Mountain. Here, the code is SCIENTIFIC18. Either call 1-970-754-7433 or click
      <a href=http://coloradomountainexpress.hudsonltd.net/res?USERIDENTRY=SCIENTIFIC18&LOGON=GO/"> Colorado Mt. Express</a>.
    -->

    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608266.0883500748!2d-106.0073125920699!3d39.63946148929527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a6000b7523357%3A0x2fc88aaeeb274fdd!2sCopper+Mountain+Resort!5e0!3m2!1sen!2sus!4v1474934985568" width="800" height="300" style="border:0" allowfullscreen></iframe>
    </div>

</div>
{% block extrajs %}
<script>
$(".maps").click(function() {
	$(".maps iframe").css("pointer-events", "auto");
});
$(".maps").mouseleave(function() {
	$(".maps iframe").css("pointer-events", "none");
});
</script>
{% endblock %}
{% endblock %}
