{% extends "_layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <div class="container">
    <div class="row" id="details">

<h1>
Instructions for Copper 2022 Session Chairs
</h1>
<h2>
Basic instructions:
</h2>
<ul>
  <li> Sign in to your Zoom session 15 minutes ahead of time to meet with presenters, test screen sharing, and give them basic instructions.</li>
  <li> Claim the Host role: click on “Claim Host” and enter the host key provided separately</li>
  <li> To test screen sharing:</li>
  <ul>
    <li> First make each presenter a co-host: hover over the person’s name in the participants list (click on Participants to pull up the list), click More, and select “Make Co-host”</li>
    <li> Ask the presenter to select “Share Screen” in their Zoom window</li>
    <li> If everything looks good, ask them to stop sharing by clicking “Stop Share”</li>
    <li> You may stop the sharing yourself as well: hover over the presenter’s name, click
      More, and select “Stop Participant’s Sharing”</li>
  </ul>
  <li> Give instructions for presenters:</li>
  <ul>
    <li> 20 minutes plus 5 for questions and changeover time (schedule is firm)</li>
    <li> Consider giving warnings (by voice and/or zoom chat) at 15 minutes and at the
      end of time. Be aware that speakers may not see chat messages, so if someone
      is not responsive to chat, then give verbal warnings.</li>
  </ul>
  <li> Thank all speakers at the end and make announcements (if any)</li>
</ul>

<h2>
Zoom bombing:
</h2>
Hopefully this will not arise, however...
<ul>
  <li> If something really inappropriate happens during a session, click on Security, then you will have a couple of options:</li>
  <ul>
    <li> Select “Remove participant”, then select “Remove” next to the participant’s name. Once the person is removed, they will not be able to rejoin the meeting. You will have the option to report the person to Zoom.</li>
    <li> Select “Suspend Participant Activities”. This is a good option when the offense is really egregious, because it will give you time to deal with the problem by either removing the person(s) or contacting the organizers so that new Zoom links can be created and distributed to attendees.</li>
  </ul>
  <li> If you suspend activities, remove people, and want to restart the session, click Security again and allow participants to “Start Video”, “Unmute Themselves”, etc.</li>
  <li> If you suspend activities and new links are created, we will probably have to adjust the schedule by moving the speaker who was interrupted to the end (during the normal break, or after the normal meeting day’s end)</li>
</ul>

<h2>
Technical difficulties:
</h2>
<ul>
  <li> If a speaker has technical difficulties that cannot be resolved quickly, please do not adjust the schedule in your session from that posted. A talk that cannot be completed as expected will, if possible, be rescheduled to another time and announced to the conference community.</li>
  <li> If you have technical difficulties while you are chairing, please designate another session chair / senior participant as a “co-host” in the zoom session, so that they are able to seamlessly take over if you are unable to continue.</li>
  <li> If you are in a session where a session chair has technical difficulties (and is not able to effectively chair the session), please step up and take over (or coordinate with other session chairs / senior participants) to ensure the session is properly chaired. If either Luke or John is in the session when this occurs, they may ask you (by private chat) to take over chairing duties, so please monitor the zoom chat window so that you can respond if needed.</li>
  <li> If something truly unexpected arises, please handle it as best you can in the moment, and try to contact Luke or John for more guidance (if needed). You can easily reach the three of us by emailing lukeo@illinois.edu or jnshadi@sandia.gov. Feel free to reach out to us in other ways, as well, via SMS/Whatsapp, Slack, or in the Gather space.</li>
</ul>
    </div>
  </div>
{% endblock %}
