{% extends "_layout.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container">
  <div class="d-block mx-auto main-block">
    <h2 class="title text-danger">Meeting Information</h2>
  </div >
  <div class="row justify-content-center">
    <div class="col-12">
      The conference web page is
      <a href="https://grandmaster.colorado.edu/copper/2021">here</a>.

      <b>Code of Conduct:</b> The conference organizers are committed to maintaining the highest standards of professional conduct and providing an environment that is welcoming to all participants.  Particularly in an online environment, we require all participants to value and respect the rights and dignity of others, and to engage in professional and respectful discussions.  No harassment, exclusionary, or discriminatory behaviour will be tolerated, and anyone who engages in such behaviour will be removed from the conference platforms.  If you are unfamiliar with expected standards of behaviour, we encourage you to consult the code of conducts for our professional societies:
      <ul>
        <li><a href="https://www.siam.org/about-siam/policies-guidelines/detail/code-of-conduct"></a>SIAM
          Code of Conduct</li>
        <li><a href="https://www.ams.org/about-us/governance/policy-statements/anti-harassment-policy"></a>AMS
          Anti-Harrasment Policy</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
