{% extends "_layout.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container">
  <div class="d-block mx-auto main-block">
    <h2 class="title text-danger">Virtual Meeting Information</h2>
  </div >
  <div class="row justify-content-center">
    <div class="col-12">
The conference web page is
    <a href="https://grandmaster.colorado.edu/copper/2022">here</a>.
On the home page, a schedule-at-a-glance will highlight how to get information about the schedule in your time zone; click on "Program" to get schedule details in MDT time.<br><br>

The conference in 2022 will use two main virtual meeting platforms:
<ul>
<li>Zoom - to host the talks, tutorials, and virtual banquet</li>
<li>Gather - to support individual interactions and discussions</li>
</ul>

In addition, a Slack workspace will be available for text-based chat, including
off-line questions for speakers, broader discussion on conference themes, and
general conversation.<br><br>

The links for Zoom, Gather, and Slack will be emailed to attendees. Everything
will go live on TBD and we encourage you to test everything out
ahead of time. Feel free to use Gather and Slack at any time, and feel free to
test Zoom outside of scheduled event times.

More information on these platforms is provided below.<br><br>

<b>Code of Conduct:</b> The conference organizers are committed to maintaining the highest standards of professional conduct and providing an environment that is welcoming to all participants.  Particularly in an online environment, we require all participants to value and respect the rights and dignity of others, and to engage in professional and respectful discussions.  No harassment, exclusionary, or discriminatory behaviour will be tolerated, and anyone who engages in such behaviour will be removed from the conference platforms.  If you are unfamiliar with expected standards of behaviour, we encourage you to consult the code of conducts for our professional societies:
<ul>
<li><a href="https://www.siam.org/about-siam/policies-guidelines/detail/code-of-conduct"></a>SIAM
  Code of Conduct</li>
<li><a href="https://www.ams.org/about-us/governance/policy-statements/anti-harassment-policy"></a>AMS
  Anti-Harrasment Policy</li>
</ul>

<b>Gather:</b>
The Gather map for the conference is designed to mimic the actual
conference facilities in Copper Mountain, Colorado:
<ul>
<li>Gather provides an interactive virtual environment similar to a physical setting.  You can walk around the environment, talk (via video chat) with those standing close to you, as well as launch zoom sessions for the conference talks.</li>
<li>Gather’s environment works best when using Google Chrome (on any platform).</li>
<li>Gather access is restricted by email address.  When you first log in to the gather space, you’ll be prompted to enter your email (the same email that you used to register for the conference), and a verification link will be sent (you may need to disable any ad/popup-blocker that you’re using to send the verification link).  Following the verification link, you should be able to fully log in to the space and create your avatar. </li>
<li>When you join, your avatar will appear in the conference foyer. </li>
<li>Use the arrow keys on your keyboard to move around. Move up and left to get to the conference rooms, Bighorn A, B, and C, and move down to go outside.</li>
<li>When you get close enough to other attendees or enter a “private space”, you will be able to see and talk to others at the meeting.</li>
<li>You can join seminar talks from within Gather by entering the appropriate session room and pressing ‘x’ on your keyboard. This will launch the appropriate Zoom link. You may also join the talks directly without using Gather.</li>
<li>To find people, you can click on their name in the list of participants to the left and select either “Locate on Map” or “Follow”. Use the pop-up window that appears at the bottom to stop locating or following a person.</li>
<li>For more information, see the main <a href="https://support.gather.town/help">Gather Help</a> page, and especially
<a href="https://support.gather.town/help/movement-and-basics">Gather
  101</a> and <a href="https://support.gather.town/help/av-troubleshooting">Gather Audio and Video Troubleshooting</a>.</li>
</ul>

<b>Zoom:</b>

Guidelines for using Zoom are as follows.
<ul>
  <li>You will need a Zoom account (free or paid) and to be logged into it to access the talks. NOTE: Zoom-for-government accounts do not seem to work.</li>
<li>Presenters should show up 15 minutes early for their sessions to meet the session chair, test screen sharing, etc.</li>
<li>Please keep your microphone muted unless you are presenting, asking a question, etc.</li>
<li>We encourage you to keep your video on if you have adequate bandwidth, especially when asking questions or presenting.</li>
<li>You can also ask questions in the Zoom chat, and the session chair will read these for the presenter.</li>
<li>If you are unfamiliar with using Zoom, consult
<a href="https://support.zoom.us/hc/en-us/categories/200101697-Getting-Started">https://support.zoom.us/hc/en-us/categories/200101697-Getting-Started</a></li>
</ul>

<b>Slack:</b>
Slack provides a text-based interface for chatting that persists and is accessible outside of the Zoom sessions. While we encourage both speakers and audience members to engage during the sessions in Zoom, or during the break times in Gather, the Slack space is provided to allow conversations to happen “off-line” (i.e., not in real-time) and to persist for both you and others to reference later on. While we will use email to convey any important information on a daily basis, updates will also be posted to Slack for later reference.
    </div>
  </div>
</div>
{% endblock %}
