{% extends "_layout.html" %}
{% block title %}Index{% endblock %}
{% block extrajs %}
<script src="js/moment.min.js"></script>
<script src="js/moment-timezone-with-data-10-year-range.min.js"></script>
<script>
  {% include "_timezone.js" %}
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-block mx-auto main-block">
    <h2 class="title text-danger">{{ info.date }}</h2>
  </div >
  <div class="row justify-content-center">
    <div class="col-12">
      {% include "_timezone_table.html" %}
    </div>
    <div class="clearfix"></div>
    <div class="col-4">
      <table class="table table-sm" id="legend">
        <tr><td class="table-danger">Tutorials: via Zoom</td></tr>
        <tr><td class="table-primary">Session 1 talks: via Zoom</td></tr>
        <tr><td class="table-success">Session 2 talks: via Zoom</td></tr>
        <tr><td class="bg-success">Session 2 student paper talks: via Zoom</td></tr>
        <tr><td class="table-warning">Break time: meet in gather.town</td></tr>
        <tr><td class="bg-warning">Virtual banquet: via Zoom</td></tr>
      </table>
    </div>
    <div class="col-8">
    </div>
  </div>
</div>
{% endblock %}
